// Colors
$bg-dark: #000;
$gold: #bdae82;
$white: #fff;

// ColorMatrix
$background: $bg-dark;
$hover: $gold;
$text: $white;

// Typography
$main-font: 'Inter', sans-serif;
$sub-font: 'Merriweather', serif;

$huge-fs: 60px;
$large-fs: 40px;
$medium-fs: 28px;
$main-fs: 20px;
$small-fs: 18px;