@import '../helpers/variables';

.footer {
  padding: 62px 0 57px;
  font-size: $main-fs;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item:nth-child(2) {
    transform: translateX(10px);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 27px 0 32px;

    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__item:nth-child(2) {
      transform: translateX(0px);
      margin-bottom: 33px;
    }
  }
}
